<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новая новость</title>
</head>
<body>
{% if request.user.is_authenticated %}
    <h2>{{ request.user.username }}</h2>
    <a href="{% url 'logout' %}">Выйти из аккаунта</a>
    <a href="{% url 'profile_page' %}">Профиль</a>
{% else %}
    <a href="{% url 'login' %}">Войти в свой аккаунт</a>
    <a href="{% url 'register' %}">Создать аккаунт</a>
{% endif %}
  <h2>Добавить новость</h2>
  <form method="post" >
    {% csrf_token %}
    {{ form.as_ul }}
    <button type="submit" value="Save">Проинформировать</button>
  </form>
  <p></p>
  <a href="{% url 'news' %}">НА ГЛАВНУЮ</a>

</body>
</html>