<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование новости</title>
</head>
<body>
{% if request.user.is_authenticated %}
    <h2>{{ request.user.username }}</h2>
    <a href="{% url 'logout' %}">Выйти из аккаунта</a>
    <a href="{% url 'profile_page' %}">Профиль</a>
{% else %}
    <a href="{% url 'login' %}">Войти в свой аккаунт</a>
    <a href="{% url 'profile_page' %}">Создать аккаунт</a>
{% endif %}
    <h2>Редактирование</h2>
    <form method="post", action="./">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="Update">Сохранить</button>
    </form>
    <a href="{% url 'news' %}">НА ГЛАВНУЮ</a>

</body>
</html>