<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ object.title }}</title>
</head>
<body>
    <h1>{{ object.title }}</h1>
        <p>{{ object.description }}</p>
        <p>{{ object.public_date }}</p>
        <p>Кто{{ object.article.set.username }}</p>
        <p>Что{{ object.article.set.text_comment }}</p>
        <form method="post" action="./">
            {% csrf_token %}
            {{ form.as_ul }}
            <button type="submit">Добавить коммент</button>
        </form>
   <p>
       <a href="{% url 'news' %}{{object.id}}/edit/">редактировать новость</a>
   </p>
    <p>
        <a href="{% url 'news' %}">НА ГЛАВНУЮ</a>
    </p>

</body>
</html>