<html>
<ul>
    <p>
        {% load static %}
            <img src="{% static 'advertisement/3d_gen.png' %}" alt="My image">
    </p>
    <h1>
        Описание курса
    </h1>
    <p>
        3D-дженералист разбирается во всех этапах 3D-моделирования: от создания концепции и скульптинга до текстурирования и анимации.

    </p>
    <p>
        Рынку нужны профессионалы, которые координируют работу команды и могут брать на себя обязанности разных специалистов.
    </p>
    <h2>
        Ссылка на курс
    </h2>
    <li>
        <a href="https://skillbox.ru/course/music-manager/">ПРОФЕССИЯ 3D-ДЖЕНЕРАЛИСТ</a>
    </li>
    <h3>
        <a href="/">Перейти на главную страницу</a>
    </h3>

</ul>
</html>
