<html>
<ul>
    <p>
        {% load static %}
            <img src="{% static 'advertisement/smm.png' %}" alt="My image">
    </p>
    <h1>
        Кому подойдет
    </h1>
    <p>
        <h4>
            Новичкам
        </h4>
            Научитесь оформлять посты и бизнес-страницы,
            настраивать рекламные кампании и продвигать продукты в соцсетях.
            Сможете найти работу в SMM и брать первые заказы.
    </p>
    <p>
        <h4>
            Начинающим маркетологам
        </h4>
            Углубите знания в SMM: лайфхаки работы с таргетированной рекламой,
            тренды вовлекающего контента и анализа эффективности продвижения.
    </p>
    <h2>
        Ссылка на курс
    </h2>
    <li>
        <a href="https://skillbox.ru/course/smm-marketer/">SMM-специалист с нуля</a>
    </li>
    <h3>
        <a href="/first_page">Перейти на главную страницу</a>
    </h3>

</ul>
</html>
