<html>
<ul>
    <p>
        {% load static %}
            <img src="{% static 'advertisement/music_manager.png' %}" alt="My image">
    </p>
    <h1>
        Кому подойдет
    </h1>
    <p>
        <h4>
            Тем, кто мечтает связать жизнь с музыкой
        </h4>
        Поймёте, как устроена музыкальная индустрия.
        Сделаете первые шаги в профессии и добавите кейс по продвижению артиста в портфолио.
    </p>
    <p>
        <h4>
            Музыкантам
        </h4>
        Поймёте, как эффективно монетизировать своё творчество.
        Научитесь грамотно сотрудничать с лейблами, брендами и лидерами мнений.
    </p>
    <h2>
        Ссылка на курс
    </h2>
    <li>
        <a href="https://skillbox.ru/course/music-manager/">МУЗЫКАЛЬНЫЙ МЕНЕДЖЕР</a>
    </li>
    <h3>
        <a href="/">Перейти на главную страницу</a>
    </h3>

</ul>
</html>

