<html>
<ul>
    <p>
        {% load static %}
            <img src="{% static 'advertisement/web_design.png' %}" alt="My image">
    </p>
    <h1>
        Описание курса
    </h1>
    <p>
        Веб-дизайнер проектирует сайты и приложения.
        Его визуальные решения напрямую влияют на восприятие бренда, а иногда и продажи.
    </p>
    <p>
        Поэтому рынку нужны талантливые веб-дизайнеры, а работодатели готовы им хорошо платить.

    </p>

    <h2>
        Ссылка на курс
    </h2>
    <li>
        <a href="https://skillbox.ru/course/webdesign-pro/">Веб-дизайн с нуля до PRO</a>
    </li>
    <h3>
        <a href="/">Перейти на главную страницу</a>
    </h3>

</ul>
</html>
